/* CSS for Potjes Burger */ 

/* Variables */

* {
    margin: 0;
    padding: 0;
}


body {
    height: 100%;

    background-color:rgb(25, 28, 34);
    color: white;
    h1 {
        font-size: 90px;
        font-weight: bold;
        font-family:'Oswald', sans-serif;
        letter-spacing: 5px;
        padding-top: 4%;
        text-shadow:
       3px 3px 0 #000,
       -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    }

}
/* NAV BAR DECO */

.navbar {
    font-size: 20px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.25);
}

#logo {
    width: 24%;
    height: auto;
}

/* NAV BAR DECO */


/* Header - Jumbotron */

header {

    p {
        font-size: 35px;
        text-shadow:
       3px 3px 0 #000,
       -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

    }

}

.jumbotron {
    background-image: url("../img/burger-background.jpg");
    background-repeat:no-repeat;
    background-position: center;
    width: 100%;
    padding-bottom: 50%;
}

.card {
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-right: 10%;
    margin-left: 10%;
    

}
.card-body {
    padding: 20px;
}

#card-contact {
    padding-bottom: 200px;
    font-family:'Oswald', sans-serif;

}

/* Header - Jumbotron */


/* Main Content */

main {
    h2 {
        font-family:'Oswald', sans-serif;
        letter-spacing: 5px;
    }
}

main {
    padding-bottom: 100px;
    padding-top: 100px;
}

//menu design

#menubox {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#titremenu {
    padding-top: 15%;
}

#menuimg {
    width: 90%;
    height: auto;
    border: solid white 3px;
}

#boissonimg {
    width: 50%;
    height: auto;
    border: solid white 3px;
    display: inline-block;
    text-align: center;
    margin-left: 18%;
}

.list-menu {
    list-style: none;
    margin-left: 40px;
    p {
        text-align: justify;
        padding-bottom: 1em;
        padding-right:10%;
        margin: 2%;
        margin-left: auto;
        margin-right: auto;
    }
}

// Contact design

#contactbox {
    margin-top: 10%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    button {
        position: inline-block;
        margin-bottom: 20px;
    }

}

#contactform {
    padding-top: 15px;
    padding-bottom: 30px;
}

#contacttitle {
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Main Content */




/* Footer */
footer {
    background-color:#DC3544;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 0;
    ul {
        padding: 0;
    }
    p {
        padding-top: 2%;
        font-weight: bold;
    }
}
footer {

img {
    width: 30px;
    height: auto;
}
}

footer {
    color: white;

    li {
        display: inline;
        margin: 2%;
    }
}


/* Footer */